.command{
    margin-bottom: -10px;
    display: flex;
    flex-direction: row;
}
.manual{
    text-align:center;
    margin-top: 10px;
    padding: 10px;
    background-color: darkgrey;
    border-radius: 10px;
}
.title{
    font-size: x-large;
}